.links {
  position: absolute;
  top: 3.5vw;
  right: 3.5vw;
  color: white;
  font-size: 2.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 7vw);
  background-color: rgba(255, 255, 255, 0.11);
  border-radius: 20px;
  padding: 0 0.4em;
}

a:link,
a:visited,
a:active {
  color: inherit;
}

.link:active {
  transform: scale(0.85);
}
