.App {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3.5vw;
}

.calender-weather-wrapper {
  display: flex;
  align-items: flex-end;
}
